
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/
/wp-includes/

/indexWP.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Log files
*.log